/* body {
	font-family: "open-sans", sans-serif;
	font-size: 16px;
	color: #333333;
}
p {
	margin-bottom: 10px;
} */
.container{

	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 140px;
}
.accessibility-bar-wrapper {
	position: relative;
	background-color: #fff;
	color: #3d3d3d;
	min-height: 50px;
	padding-top: 10px;
	width: 100%;
	font-size: 0.7em;
}
.accessibility-bar-wrapper .container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 1em 2em;
}

.accessibility-bar-wrapper a {
	color: #3d3d3d;
	text-decoration: none;
	padding: 0.5em;
}
.numero-acessibilidade {
	background-color: #fff;
	color: #2067D6;
	padding: 0 2px 0 3px;
	margin-right: 4px;
	border: 1px solid #2067D6;
}
.header {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
}
.header .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
    
    margin-right: auto;
    margin-left: auto;
}
.header h1 {
	
	color:#2067D6;
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	margin: 0 0;
}
.header h2 {
	color: #3d3d3d;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	margin: 0.5 auto;
}
.center {
	width: 80vw;
	margin: 0 auto;
}
#panles{
	width:100vw;
	height:700px;
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
	position: relative; 
	overflow: hidden;
	background: white;
}

.panelHolder{
	float:left;
	position: relative;
	padding-right: 1px;
	padding-left: 1px;
	width: 90px;
	height:700px;
	overflow:hidden;
	background:white;
}
.contentHolder{
	float:left;
	position: relative;
	background-color: #ECECEC;
	height: 100%;
	width:700px;
	
	
}
.tab{
	/*margin-left: 0px; 
	width:676px;
	height: 80px;
	z-index: 1; 
	position: absolute; */

	height: 50px;
}
.tab p{
	color: #575756;
	font-weight: 600;
	text-transform: uppercase;
	/*writing-mode: vertical-rl;
	transform: rotate(180deg); */
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	padding: 10px;
	margin-left: 70px;
}

.tab .tabmobile p{
	color: #565657;
	font-weight: 600;
	text-transform: uppercase;
	/*writing-mode: vertical-rl;
	transform: rotate(180deg); */
	font-family: 'Lato', sans-serif;
	font-size: .9em;
	padding: 5px;
	margin-left: 70px;
}

.tab img{
	padding: 0px;
	margin-top: -20px;
	width: 90px;
	height: 90px;
	position: absolute;
	
	
}
.model{
	position: absolute; 
	opacity: 0; 
	width:100%;
	height:700px;
	background-image: url("../img/bg_accordion.jpg");
	background-color: #3d3d3d;
	display: flex;
	flex-direction: column;
	
}
.model h1 {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	
}
.model p {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1.1em;
	text-align: center;
	padding: 1em;
}


.panelTitle.last{
	padding: 0px;	
}
.active.panelHolder{
	width: 690px;
}
.active .tab{
	opacity: 0;
}
.active .model{
	visibility: visible;
	z-index: 0;
	opacity: 1;
}

#footer{
	border-top: 2px solid rgba(0, 0, 0, 0.08);
	margin-top: 20px;
	padding: 2em;
}

#footer .container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#footer .container img {
	height: 50px;
	width: auto;
}

.imagens {
	
	float: center;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}

#ufrn {
  height: 80px;
  width: auto;
}

.largura-card2 {
	width: 350px;
  }

.largura {
  width: 450px;
}

.card .card-body {
    background-image: url(../img/bg_accordion.jpg);
    background-color: #3d3d3d;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 1em 2em;
}

.card .card-body h1 {
	text-transform: uppercase;
	font-weight: bold;
}

.btn-link:hover {
    color: none;
    text-decoration: none;
}

.btn-link {
    font-weight: 400;
    color: none;
    text-decoration: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow:  none;
}